# shellcheck disable=all
# If you mess with these values, delete previous volumes.
# Otherwise, you may see permission errors or strange behaviours.
# Possible errors (observed):
# - Permission denied (volume owned by root or other user)
# - Volume does not persist data
# All that can be solved by deleting the volume and rebuilding.
# P.S.: you can manually fix permissions (for advanced users).
DEV_USER=dubuntu
DEV_UID=1010
DEV_GID=1010

# When running Docker inside a docker container (Docker-out-of-Docker or DooD)
# The path to the volumes point to the container instead of the host.
# I'm using this to try to solve this problem.
# WIP -> not working correctly yet
HOST_CURR_DIR="./"

